body {
    background-image: url(dji_fly_20241103_111856_219_1730644774311_photo.jpg);
    margin: 0;
}

div.content {
    background-color: rgba(0, 0, 0, 0.517);
    height: 1000px;
}

div.fonte {
    background-color: rgba(0, 0, 0, 0.517);
    margin: 10px;
    padding: 10px;
    width: 500px;
    margin: auto;
    /*
    border-width: 1px;
    border-style: double;
    border-color: white;
    */
    
    border-radius: 5px;
    box-shadow: 1px 1px 1px black;
}
