.fonte {
    /* Nome da cor. */
    color: red;
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 1px 1px 1px #000;
    background-color: rgba(0, 0, 0, 0.691);
    padding: 10px;
}

.fonte1{
    /* Notação hexadecimal. */
    color: #4ea037;
    font-style: italic;
}

.fonte2{
    /* Notação RGB. */
    color: rgb(189, 54, 54);
    font-variant: small-caps;
}

.fonte3{
    /* Notação RGBA. */
    color: rgba(189, 54, 54, 0.316);
    font: italic normal bold x-large/1.167em Helvetica, Arial,
    sans-serif;
    box-shadow: 1px 1px 1px #888888;
}

.bold{
    font-weight: bold;
}

/* Colocar uma imagem de fundo com opacidade */

body{
    font-size: 16px;
    font-family: Arial, sans-serif;
    background: url(dji_fly_20241103_111856_219_1730644774311_photo.jpg) no-repeat center center fixed;
    background-size: cover;
    color: white;
    margin: 0;
    padding: 0;
    
}

/* Opacidade */
div.opacidade{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 0px;
    height: 1000px;
}
